<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: red;
}
</style>
</head>
<body>

<h1>Nền xanh lá cây</h1>
<div>
Thẻ div nền xanh
<p>Thẻ p nền đỏ</p>
Vẫn là thẻ div nền xanh.
</div>

</body>
</html>
