<!DOCTYPE html>
<html>
<head>
<style>
div {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 10px;
  padding-right:20 px;
  padding-bottom: 10px;
  padding-left: 30px;
}
</style>
</head>
<body>

<h2>Trần Đức Chính</h2>

<div>Căn chỉnh padding jhjcicikfjcewijewidhqwujdnqwudbuiehduewhuewbf hbbriudhefiewnfeiewieifeiff
</div>

</body>
</html>

