<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}
</style>
</head>
<body>

<h1>Căn giữa chữ</h1>
<h2>Căn trái chữ</h2>
<h3>Căn phải chữ</h3>

<p>Trần đức chính</p>

</body>
</html>


