@{
    ViewData["Title"] = "Home Page";
}
<Form asp-action="Index">
    <label>Nhập họ tên:</label>
    <input type="text" name="Fullname">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi">
</Form>
<h1>@ViewBag.Message</h1>